/* Estilos Gerais */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    text-align: center; /* Centraliza a imagem se ela for menor que a largura da tela */
}

/* Imagem Responsiva */
.responsive-image {
    max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para telas pequenas (ex: celulares) */
@media only screen and (max-width: 600px) {
    /* Adicione estilos específicos para telas pequenas aqui */
}

/* Estilos para telas médias (ex: tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adicione estilos específicos para telas médias aqui */
}

/* Estilos para telas grandes (ex: desktops) */
@media only screen and (min-width: 1025px) {
    /* Adicione estilos específicos para telas grandes aqui */
}
